#projects {
    background: linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 1), rgba(256, 256, 256, .05), rgba(34, 34, 34, 1));
}
#projects h1 {
    font-weight: 400;
    border-bottom: 2px solid rgba(256, 256, 256, .75);
    display: inline-block;
    padding-bottom: 6px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 50px;
}
#projects .individual-project {
    margin: 10px 0px;
}
#projects .project-item {
    height: 300px;
}
#projects img {
    max-height: 100%;
    max-width: 100%;
}
#projects .grid-item-text-right {
    text-align: right;
}
#projects h3 {
    font-weight: 400;
    letter-spacing: 2px;
}
#projects p {
    font-weight: 300;
    letter-spacing: .1rem;
    line-height: 1.25rem;
    font-size: .9rem;
    text-align: justify;
}
#projects a {
    color: rgba(256, 256, 256, .9);
    text-decoration: none;
    border-bottom: 1px solid rgba(256, 256, 256, .9);
    text-transform: uppercase;
}
