#contact {
    padding: 25px 0px;
}
#getInTouch h2 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#getInTouch p {
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(256, 256, 256, .9);
    padding-bottom: 15px
}
#finals img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
}
#finals .social-link {
    height: 15px;
    width: 15px;
    margin: 0px 15px 0px 5px;
    border-radius: 50%;
    border: 1px solid rgba(256, 256, 256, .5);
    padding: 10px;
}
#finals span {
    font-size: 15px;
    position: relative;
    top: 4px;
    left: 5px;
    color: rgba(256, 256, 256, .9);
    border-radius: 50%;
    border: 1px solid rgba(256, 256, 256, .5);
    padding: 10px;
}
#finals p {
    display: inline-block;
    position: relative;
    bottom: 10px;
}
#finals a {
    color: rgba(256, 256, 256, .9);
    text-decoration: none;
}

#finals a:hover {
    color: white;
    cursor: pointer;
}