.app {
    height: 100vh;
    background: linear-gradient(rgba(34, 34, 34, .75),rgba(34, 34, 34, .825), rgba(34, 34, 34, .75)), url("../../assets/background.jpg") no-repeat center; 
    background-size: cover; 
    background-attachment: fixed;
}
.grid-item-text-center {
    text-align: center;
}
.grid-item-text-right {
    text-align: right;
}

#upIcon {
    background-color: rgba(256, 256, 256, .75);
    border-radius: 50%;
    padding: 2px;
    color: #222;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
    animation: slideIn 4s;
}

.MuiDrawer-modal {
    background-color: rgba(34, 34, 34, .825);
}

@keyframes slideIn {
    0% {
        right: 50px;
        opacity: 0;
    }
    75% {
        right: 50px;
        opacity: 0;
    }
    100% {
        right: 25;
        opacity: 1;
    }
}