.app {
    height: 100%;
}
.grid-item-text-center {
    text-align: center;
}
.grid-item-text-right {
    text-align: right;
}

#mainContent {
    padding-bottom: 100px;
}

#upIcon {
    background-color: rgba(256, 256, 256, .75);
    border-radius: 50%;
    padding: 2px;
    color: #222;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
}

.MuiDrawer-modal {
    background-color: rgba(34, 34, 34, .825);
}