#skills {
    background: linear-gradient(rgba(34, 34, 34, .75),rgba(34, 34, 34, .825), rgba(34, 34, 34, .75)), url("../../assets/background.jpg") no-repeat center; 
    background-size: cover; 
    background-attachment: fixed;
} 
#skills h1 {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 6px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin-bottom: 25px;
}
#skills p {
    color: white;
}
#skills .MuiChip-root {
    margin: 10px 5px;
    min-width: 125px;
    border-color: rgba(256, 256, 256, .5);
    color: rgba(256, 256, 256, .9);
    font-size: 15px;
    letter-spacing: 1px;
}