#contact {
    padding: 100px 0px 50px 0px;
}    
#contact h1 {
    font-weight: 400;
    border-bottom: 2px solid rgba(256, 256, 256, .75);
    display: inline-block;
    padding-bottom: 6px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 25px;
}
#contact p {
    color: white;
}
label {
    color: black !important;
    padding-left: 5px !important;
}
.MuiOutlinedInput-input, .MuiOutlinedInput-multiline, textarea {
    background-color: rgba(256, 256, 256, 1);
    border-radius: 5px;
}
.MuiTextField-root, textarea{
    background-color: rgba(256, 256, 256, 1);
    border-radius: 5px;
}
#contact input, #contact textarea {
    padding-left: 10px;
}

label.Mui-focused {
    color: rgba(34, 34, 34, .75) ;
    letter-spacing: 1px;
}
.MuiInput-underline::after {
    border: none !important;
}

#contact button {
    border-color: rgba(256, 256, 256, .9);
    color: rgba(256, 256, 256, .9);
    margin-top: 40px;
    letter-spacing: 2px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: .325s;
}
#contact button:hover {
    box-shadow: 0px 0px 10px 0px rgba(256, 256, 256, .5);
    background-color: rgba(256, 256, 256, .1);
    color: white;
}
.MuiDialog-paper {
    min-height: 150px;
    min-width: 300px;
    border-radius: 15px !important;
}
.contactDialogCloseIcon {
    position: absolute;
    top: 10px;
    right: 10px;
}
.contactDialog h4 {
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 0;
    font-weight: 400;
    font-size: 1.25rem;
}
.contactDialog p {
    margin: 5px 0px;
}