#intro {
    background: linear-gradient(rgba(34, 34, 34, 1),rgba(34, 34, 34, .825), rgba(34, 34, 34, .75), rgba(34, 34, 34, .925), rgba(34, 34, 34, 1)), url("../../assets/background.jpg") no-repeat center; 
    background-size: cover; 
    height: 100vh;
}

#introGridWrapper {
    height: 100%;
}

#intro h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 2.75rem;
    animation: fadeName 2s;
    position: relative;
}

#intro h5 {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 0;
    font-size: .9rem;
    animation: fadeSummary 3s;
    position: relative;
}

#intro button {
    border-color: rgba(256, 256, 256, .9);
    color: rgba(256, 256, 256, .9);
    margin-top: 35px;
    letter-spacing: 2px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: .325s;
    animation: fadeButton 4s;
    position: relative;
}
#intro button:hover {
    box-shadow: 0px 0px 10px 0px rgba(256, 256, 256, .5);
    background-color: rgba(256, 256, 256, .1);
    color: white;
}

@keyframes fadeName{
    0% {
        opacity: 0;
        top: 25px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fadeSummary {
    0% {
        opacity: 0;
        top: 25px;
    }
    50% {
        opacity: 0;
        top: 25px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fadeButton {
    0% {
        opacity: 0;
        top: 25px;
    }
    75% {
        opacity: 0;
        top: 25px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}